openapi: 3.0.1
info:
  description: This is the sipgate REST API documentation. We build our applications
    on this API and we invite you to use it too.
  title: sipgate API
  version: 2.0.0
servers:
- url: https://api.sipgate.com/v2
tags:
- name: account
- name: addresses
- name: app
- name: authorization
- name: autorecording
- name: blacklist
- name: callrestrictions
- name: contacts
- name: devices
- name: faxlines
- name: groups
- name: history
- name: identityVerification
- name: log
- name: notifications
- name: numbers
- name: phonelines
- name: portings
- name: restrictions
- name: rtcm
- name: sessions
- name: settings
- name: sms
- name: urls
- name: users
- name: voicemails
paths:
  /blacklist/incoming:
    get:
      operationId: getIncomingEntries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingEntries'
          description: successful operation
      security:
      - oauth2:
        - all
        - blacklist:read
      summary: Get your incoming blacklist entries
      tags:
      - blacklist
    post:
      operationId: addIncomingEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingEntry'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingEntry'
          description: successful operation
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingEntry'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid phoneNumber supplied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: IncomingEntry already exists
      security:
      - oauth2:
        - all
        - blacklist:write
      summary: Create a new incoming blacklist entry
      tags:
      - blacklist
      x-codegen-request-body-name: body
  /blacklist/incoming/{phoneNumber}:
    delete:
      operationId: removeIncomingEntry
      parameters:
      - in: path
        name: phoneNumber
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid phoneNumber supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: IncomingEntry not found
      security:
      - oauth2:
        - all
        - blacklist:write
      summary: Delete an incoming blacklist entry
      tags:
      - blacklist
  /autorecordings/greetings:
    get:
      operationId: getGreeting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GreetingResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - autorecording:greeting:read
      summary: Fetch the current automated call recording greeting
      tags:
      - autorecording
    post:
      operationId: addAutorecordingGreeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGreetingRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - autorecording:greeting:write
      summary: save a greeting to be used for automated call recordings
      tags:
      - autorecording
      x-codegen-request-body-name: body
  /autorecordings/greetings/{greetingId}:
    delete:
      operationId: deleteGreeting
      parameters:
      - description: The unique greeting identifier
        example: abc123
        in: path
        name: greetingId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - autorecording:greeting:write
      summary: delete the greeting used for automated call recordings
      tags:
      - autorecording
  /autorecordings/{extension}/settings:
    get:
      operationId: getSetting
      parameters:
      - description: unique device identifier
        in: path
        name: extension
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecordingSettingResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
      summary: Get the recording setting of a device
      tags:
      - autorecording
    put:
      operationId: updateSetting
      parameters:
      - description: unique device identifier
        in: path
        name: extension
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingSettingsIncomingRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecordingSettingResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
      summary: Set the recording setting of a device
      tags:
      - autorecording
      x-codegen-request-body-name: body
  /calls:
    get:
      operationId: getCalls
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calls'
          description: Success
      security:
      - oauth2:
        - all
        - rtcm:read
      summary: 'List all calls currently established calls. The response does not
        contain ringing calls or currently running voicemail recordings. '
      tags:
      - rtcm
  /calls/{callId}/muted:
    put:
      operationId: setCallMuted
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BooleanRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Mute/Unmute yourself
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /calls/{callId}/recording:
    put:
      operationId: setCallRecording
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Start or stop a call recording
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /calls/{callId}/announcements:
    post:
      description: "Currently the sound file needs to be a mono 16bit PCM WAV file\
        \ with a sampling rate of 8kHz. MP3 conversion example: mpg123 --rate 8000\
        \ --mono -w output.wav input.mp3 "
      operationId: startCallAnnouncement
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Start playing a new announcement to all participants
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /calls/{callId}/transfer:
    post:
      operationId: transferCall
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Transfer call
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /calls/{callId}:
    delete:
      operationId: hangupCall
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Hang up call
      tags:
      - rtcm
  /calls/{callId}/dtmf:
    post:
      operationId: sendCallDtmf
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DtmfRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Send DTMF tone sequences to all participants
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /calls/{callId}/hold:
    put:
      operationId: setCallHold
      parameters:
      - in: path
        name: callId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BooleanRequest'
        required: false
      responses:
        "204":
          content: {}
          description: Success
        "404":
          content: {}
          description: Call not found
      security:
      - oauth2:
        - all
        - rtcm:write
      summary: Hold/Resume all participants
      tags:
      - rtcm
      x-codegen-request-body-name: body
  /restrictions:
    get:
      description: Get restrictions for actions the authenticated user can perform
        for himself or another user.
      operationId: getRestrictions
      parameters:
      - description: The unique user identifier
        example: w0
        in: query
        name: userId
        required: true
        schema:
          type: string
      - description: The requested restrictions
        example: CAN_CREATE_REGISTER_DEVICE
        explode: true
        in: query
        name: restriction
        schema:
          items:
            enum:
            - CAN_CREATE_REGISTER_DEVICE
            - CAN_DELETE_REGISTER_DEVICE
            - CAN_CREATE_TRUNK_DEVICE
            - CAN_DELETE_TRUNK_DEVICE
            - CAN_BOOK_TRUNKING
            - CAN_SEE_TRUNKING_CONTINGENT_ADVERTISEMENT
            - CAN_CREATE_MOBILE_DEVICE
            - CAN_DELETE_MOBILE_DEVICE
            - CAN_CREATE_UNLINKED_MOBILE_DEVICE
            - CAN_DELETE_UNLINKED_MOBILE_DEVICE
            - CAN_USE_UNLINKED_MOBILE_DEVICES
            - CAN_DELETE_SIM_DEVICE
            - CAN_CREATE_EXTERNAL_DEVICE
            - CAN_DELETE_EXTERNAL_DEVICE
            - CAN_CHANGE_EXTERNAL_DEVICE
            - CAN_BOOK_PHONELINE_FEATURE
            - CAN_CREATE_PHONELINE_EXTENSION
            - CAN_DELETE_PHONELINE_EXTENSION
            - CAN_CREATE_QUICKDIAL_NUMBER
            - CAN_CHANGE_QUICKDIAL_NUMBER
            - CAN_DELETE_QUICKDIAL_NUMBER
            - CAN_GET_HISTORY
            - CAN_CREATE_FAX_EXTENSION
            - CAN_DELETE_FAX_EXTENSION
            - CAN_BOOK_FAX_FEATURE
            - CAN_SEND_FAX
            - CAN_RECEIVE_FAX
            - CAN_CHANGE_DEVICE_EMERGENCY_LOCATION
            - CAN_ACTIVATE_SIM
            - CAN_GET_ACCOUNT_BALANCE
            - CAN_USE_AUTOPROVISION
            - CAN_REORDER_SIM
            - CAN_GET_BLACKLIST
            - CAN_MANAGE_BLACKLIST
            - CAN_CHANGE_PHONE_PROVISIONING_CONFIGURATION
            - CAN_GET_PHONE_PROVISIONING_CONFIGURATION
            - CAN_ACCOUNT_SEND_WEB_SMS
            - CAN_ACTIVATE_CALL_RECORDING
            - CAN_CHANGE_BUSY_ON_BUSY
            - CAN_CREATE_CRM_INTEGRATION
            - CAN_CHANGE_CRM_INTEGRATION
            - CAN_DELETE_CRM_INTEGRATION
            - CAN_UPGRADE_CONTRACT
            - CAN_CHANGE_USER_LOCATION
            - CAN_CHANGE_USER_LOGIN
            - CAN_CHANGE_USER_ROLE
            - CAN_USE_PBX_FEATURES
            - CAN_USE_PRO_FEATURES
            - CAN_USE_TRUNKS
            - CAN_USE_CONFERENCE_ROOMS
            - CAN_CREATE_CONFERENCE_ROOM
            - CAN_USE_AFFILIATE
            - CAN_USE_PUSH_API
            - CAN_USE_FEATURE_STORE
            - CAN_CREATE_SHARED_CONTACTS
            - CAN_USE_SOFTPHONE
            - CAN_USE_TEAM_CLINQ
            - CAN_ADD_PHONE_NUMBER
            - CAN_EDIT_GROUP_SETTINGS
            - CAN_INDIVIDUALIZE_ACCOUNT
            - CAN_CREATE_WEBUSER
            - CAN_CREATE_UNLINKED_DEVICE
            - CAN_DELETE_UNLINKED_DEVICE
            - CAN_SEE_PREVIEW_MESSAGES
            - CAN_CHANGE_FORWARDING_TIMES
            - CAN_USE_UNLINKED_DEVICES
            - CAN_USE_GROUPS
            - CAN_USE_WEB_BLF
            - CAN_CHANGE_VOICEMAIL_SETTINGS
            - CAN_CREATE_SHARED_VOIP_PHONE_WITHOUT_CHARGE
            - CAN_CREATE_EXTRA_VOIP_PHONE_WITHOUT_CHARGE
            - CAN_CREATE_GREETING_FOR_ALL_USERS
            - CAN_USE_IVR
            - CAN_CREATE_IVR
            - NOTIFICATION_RESTRICTIONS
            - GSUITE_EXTENSION
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionsResponse'
          description: successful operation
      security:
      - oauth2:
        - internal
      summary: List all restrictions based on the users product
      tags:
      - restrictions
  /:
    get:
      operationId: getUrls
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUrlsResponse'
          description: successful operation
      summary: Get all top level API URLs
      tags:
      - urls
  /account:
    get:
      operationId: getAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: successful operation
        "404":
          content: {}
          description: Account not found
      security:
      - oauth2:
        - all
        - account:read
      summary: Get account data
      tags:
      - account
  /account/verified:
    put:
      operationId: verify
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountVerificationRequest'
        required: false
      responses:
        "404":
          content: {}
          description: Verification code not found
      security:
      - oauth2:
        - all
        - account:write
      summary: Verify your account
      tags:
      - account
      x-codegen-request-body-name: body
  /addresses:
    get:
      operationId: getAddresses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - addresses:read
      summary: List all addresses
      tags:
      - addresses
  /addresses/itemCount:
    get:
      operationId: getItemCount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCountResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - addresses:read
      summary: Get amount of addresses
      tags:
      - addresses
  /addresses/{addressId}:
    get:
      operationId: getAddress
      parameters:
      - description: The unique address identifier
        example: 123
        in: path
        name: addressId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - addresses:read
      summary: Get a specific address
      tags:
      - addresses
    put:
      description: "<strong>Warning:</strong> Depending on your country of residence,\
        \ a change of your address may lead to the deactivation of associated telephone\
        \ numbers."
      operationId: modifyAddress
      parameters:
      - description: The unique address identifier
        example: abc123
        in: path
        name: addressId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ModifyAddressRequest'
        required: false
      responses:
        "400":
          content: {}
          description: Bad request
      security:
      - oauth2:
        - all
        - addresses:write
      summary: Update an existing address
      tags:
      - addresses
      x-codegen-request-body-name: body
  /addresses/{addressId}/numbers:
    get:
      operationId: getAddressNumbers
      parameters:
      - description: The unique address identifier
        example: 123
        in: path
        name: addressId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:read
      summary: List all phone numbers of a specific address
      tags:
      - addresses
  /app/events:
    get:
      operationId: getEvents
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventsResponse'
          description: successful operation
      security:
      - oauth2:
        - internal
      summary: List all active events for this account
      tags:
      - app
  /app/events/{id}:
    delete:
      operationId: deleteEvent
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventsResponse'
          description: successful operation
      security:
      - oauth2:
        - internal
      summary: Delete a specific event
      tags:
      - app
  /app/links:
    get:
      operationId: getLinks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksResponse'
          description: successful operation
      summary: List all external URLs of app.sipgate.com
      tags:
      - app
  /app/properties:
    get:
      operationId: getProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - internal
      summary: List all properties of app.sipgate.com
      tags:
      - app
  /app/tacs:
    get:
      operationId: getTac
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TacResponse'
          description: successful operation
      security:
      - oauth2:
        - internal
      summary: Check if terms and conditions have been accepted
      tags:
      - app
  /app/users:
    get:
      operationId: getUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: successful operation
      security:
      - oauth2:
        - internal
      summary: "Fetch all users with numbers, addresses and call restrictions"
      tags:
      - app
  /authorization/userinfo:
    get:
      operationId: userinfo
      parameters:
      - description: Basic <base64 token>
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserinfoResponse'
          description: successful operation
        "401":
          content: {}
          description: Invalid token supplied
      summary: Get information about the logged in user
      tags:
      - authorization
  /balance:
    get:
      operationId: getBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - balance:read
      summary: Get the account balance
      tags:
      - account
  /callrestrictions:
    get:
      operationId: getCallRestrictions
      parameters:
      - description: List of extensions
        explode: true
        in: query
        name: userIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRestrictionResponse'
          description: successful operation
        "404":
          content: {}
          description: User not found
      security:
      - oauth2:
        - all
        - callrestrictions:read
      summary: Get call restrictions data
      tags:
      - callrestrictions
  /contacts/internal:
    get:
      operationId: getAllContacts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalContactsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - contacts:read
      summary: List all account contacts
      tags:
      - contacts
  /devices/{deviceId}:
    delete:
      operationId: deleteDevice
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Delete an existing device
      tags:
      - devices
    get:
      operationId: getDevice
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
      summary: Get a specific device
      tags:
      - devices
    put:
      operationId: changeDeviceSettings
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeDeviceRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Update settings for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/alias:
    put:
      operationId: changeDeviceAlias
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetDeviceAliasRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Device not found
      security:
      - oauth2:
        - all
        - devices:write
      summary: Update alias for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/callerid:
    get:
      operationId: getCallerId
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallerIdResponse'
          description: successful operation
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - devices:read
        - devices:callerid:read
      summary: Get the caller ID of a specific device
      tags:
      - devices
    put:
      operationId: changeCallerIdSettings
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CallerIdRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - devices:write
        - devices:callerid:write
      summary: Update the caller ID for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/credentials/password:
    post:
      operationId: changeDevicePassword
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Change password for an existing device
      tags:
      - devices
  /devices/{deviceId}/external/incomingcalldisplay:
    put:
      operationId: changeCallerDisplayOfDevice
      parameters:
      - description: The unique external device identifier
        example: x0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeExternalDeviceIncomingCallDisplayRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Update the incoming call display for an existing external device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/external/targetnumber:
    put:
      operationId: changeTargetNumberOfDevice
      parameters:
      - description: The unique external device identifier
        example: x0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeExternalDeviceTargetNumberRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Update the target phone number for an existing external device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/localprefix:
    get:
      operationId: getLocalprefix
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalprefixResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
        - devices:localprefix:read
      summary: Get the local prefix setting of a specific device
      tags:
      - devices
    put:
      operationId: changeLocalprefixSettings
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/LocalprefixRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
        - devices:localprefix:write
      summary: Update the local prefix setting for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/singlerowdisplay:
    get:
      operationId: getSingleRowDisplay
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleRowDisplayResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
        - devices:singlerowdisplay:read
      summary: Get single row display setting of a specific device
      tags:
      - devices
    put:
      operationId: changeSingleRowDisplay
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SingleRowDisplayRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
        - devices:singlerowdisplay:write
      summary: Update single row display setting for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /devices/{deviceId}/tariffannouncement:
    get:
      operationId: getTariffAnnouncement
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffAnnouncementResponse'
          description: successful operation
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - devices:read
        - devices:tariffannouncement:read
      summary: Get tariff announcement setting of a specific device
      tags:
      - devices
    put:
      operationId: changeTariffAnnouncement
      parameters:
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TariffAnnouncementRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - devices:write
        - devices:tariffannouncement:write
      summary: Update tariff announcement setting for an existing device
      tags:
      - devices
      x-codegen-request-body-name: body
  /groupfaxlines:
    get:
      operationId: getGroupFaxlinesForUser
      parameters:
      - description: The unique user identifier
        example: w0
        in: query
        name: userId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFaxlinesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:faxlines:read
      summary: List all group fax lines
      tags:
      - groups
  /groupfaxlines/{faxlineId}/callerid:
    get:
      operationId: getGroupFaxlineCallerId
      parameters:
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxlineCallerIdResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:faxlines:read
      summary: Get the caller ID of a specific group fax
      tags:
      - groups
  /groupfaxlines/{faxlineId}/numbers:
    get:
      operationId: getGroupFaxlineNumbers
      parameters:
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointNumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:faxlines:read
      summary: List all phone numbers routed to group fax line
      tags:
      - groups
  /groups:
    get:
      operationId: getGroups
      parameters:
      - description: The unique user identifier
        example: w0
        in: query
        name: userId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleGroupsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
      summary: List all groups
      tags:
      - groups
  /groups/{groupId}:
    get:
      operationId: getGroup
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
      summary: Get a single groups details
      tags:
      - groups
  /groups/{groupId}/devices:
    post:
      operationId: addDeviceToGroup
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RouteDeviceRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:devices:write
      summary: Add device to group
      tags:
      - groups
      x-codegen-request-body-name: body
  /groups/{groupId}/devices/{deviceId}:
    delete:
      operationId: removeDeviceFromGroup
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: The unique device identifier
        example: e0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:devices:write
      summary: Remove device from group
      tags:
      - groups
  /groups/{groupId}/faxlines:
    get:
      operationId: getGroupFaxlines
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFaxlinesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:faxlines:read
      summary: List all fax lines for a specific group
      tags:
      - groups
  /groups/{groupId}/numbers:
    get:
      operationId: getGroupNumbers
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupNumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:numbers:read
      summary: List all phone numbers routed to group
      tags:
      - groups
  /groups/{groupId}/users:
    get:
      operationId: getGroupUsers
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUsersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:users:read
      summary: List all group members
      tags:
      - groups
  /groups/{groupId}/voicemail:
    get:
      deprecated: true
      operationId: getGroupVoicemail
      parameters:
      - description: The unique group identifier
        example: g0
        in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhonelineVoicemailsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - groups:read
        - groups:voicemails:read
      summary: List all voicemails for a specific group
      tags:
      - groups
  /history:
    delete:
      operationId: deleteHistoryEntries
      parameters:
      - description: List of entry ids to delete
        explode: true
        in: query
        name: id
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: "Delete multiple calls, faxes, SMS or voicemails"
      tags:
      - history
    get:
      operationId: getHistory
      parameters:
      - description: List of extensions
        explode: true
        in: query
        name: connectionIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by type
        explode: true
        in: query
        name: types
        schema:
          items:
            enum:
            - CALL
            - VOICEMAIL
            - SMS
            - FAX
            type: string
          type: array
        style: form
      - description: Filter for incoming/outgoing/missed
        explode: true
        in: query
        name: directions
        schema:
          items:
            enum:
            - INCOMING
            - OUTGOING
            - MISSED_INCOMING
            - MISSED_OUTGOING
            type: string
          type: array
        style: form
      - description: The offset used for pagination
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
      - description: Limit result rows
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
      - description: Only show archived events
        in: query
        name: archived
        schema:
          default: false
          type: boolean
      - description: Filter for starred/unstarred
        explode: true
        in: query
        name: starred
        schema:
          items:
            enum:
            - STARRED
            - UNSTARRED
            type: string
          type: array
        style: form
      - description: Filter 'from' date time in ISO8601 format
        in: query
        name: from
        schema:
          type: string
      - description: Filter 'to' date time in ISO8601 format
        in: query
        name: to
        schema:
          type: string
      - description: Filter events to or from given number
        in: query
        name: phonenumber
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - history:read
      summary: "List all calls, faxes, SMS and voicemails"
      tags:
      - history
    put:
      operationId: updateHistoryEntries
      requestBody:
        content:
          '*/*':
            schema:
              items:
                $ref: '#/components/schemas/UpdateHistoryEntriesRequest'
              type: array
        description: A list of events which should be updated. Must be less than 150
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: "Update multiple calls, faxes, SMS or voicemails"
      tags:
      - history
      x-codegen-request-body-name: body
  /history/export:
    get:
      operationId: getHistoryCSV
      parameters:
      - description: List of extensions
        explode: true
        in: query
        name: connectionIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by type
        explode: true
        in: query
        name: types
        schema:
          items:
            enum:
            - CALL
            - VOICEMAIL
            - SMS
            - FAX
            type: string
          type: array
        style: form
      - description: Filter for incoming/outgoing/missed
        explode: true
        in: query
        name: directions
        schema:
          items:
            enum:
            - INCOMING
            - OUTGOING
            - MISSED_INCOMING
            - MISSED_OUTGOING
            type: string
          type: array
        style: form
      - description: The offset used for pagination
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
      - description: Limit result rows
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
      - description: Only show archived events
        in: query
        name: archived
        schema:
          default: false
          type: boolean
      - description: Filter for starred/unstarred
        explode: true
        in: query
        name: starred
        schema:
          items:
            enum:
            - STARRED
            - UNSTARRED
            type: string
          type: array
        style: form
      - description: Filter 'from' date time in ISO8601 format
        in: query
        name: from
        schema:
          type: string
      - description: Filter 'to' date time in ISO8601 format
        in: query
        name: to
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - history:read
      summary: "List all calls, faxes, SMS and voicemails as csv"
      tags:
      - history
  /history/{entryId}:
    delete:
      operationId: deleteHistoryEntry
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: abc123
        in: path
        name: entryId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: "Delete a call, fax, SMS or voicemail"
      tags:
      - history
    get:
      operationId: getHistoryById
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: abc123
        in: path
        name: entryId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryEntryResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - history:read
      summary: "Get a specific call, fax, SMS or voicemail"
      tags:
      - history
    put:
      operationId: updateHistoryEntry
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: abc123
        in: path
        name: entryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateHistoryEntryRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: "Update a specific call, fax, SMS or voicemail"
      tags:
      - history
      x-codegen-request-body-name: body
  /history/{entryId}/archive:
    put:
      deprecated: true
      operationId: setArchive
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: "12345"
        in: path
        name: entryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetHistoryEntryArchiveRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: Archive a specific entry.
      tags:
      - history
      x-codegen-request-body-name: body
  /history/{entryId}/note:
    put:
      deprecated: true
      operationId: setHistoryEntryNote
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: abc123
        in: path
        name: entryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetHistoryEntryNoteRequest'
        required: false
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/HistoryEntryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryEntryResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: "Get a specific call, fax, SMS or voicemail"
      tags:
      - history
      x-codegen-request-body-name: body
  /history/{entryId}/read:
    put:
      deprecated: true
      operationId: setReadProperty
      parameters:
      - description: "The unique call, fax, sms or voicemail identifier"
        example: "12345"
        in: path
        name: entryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetHistoryEntryReadRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - history:write
      summary: Mark an specific entry as read or unread
      tags:
      - history
      x-codegen-request-body-name: body
  /log/webhooks:
    get:
      operationId: getWebhooksLog
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhonelineSipgateIoLogsResponse'
          description: successful operation
        "403":
          content: {}
          description: Feature not booked
        "500":
          content: {}
          description: Internal server error
      security:
      - oauth2:
        - all
        - log:webhooks:read
      summary: Get your webhooks log
      tags:
      - log
  /numbers:
    get:
      description: "Possible portState->status codes:<br /><pre>100: Waiting for user\
        \ fax\n150: WBCI waiting for mail opt-in\n160: WBCI opt-in hash generated\n\
        170: WBCI opt-in link clicked\n200: Waiting for fax from current network operator\n\
        250: WBCI send\n251: WBCI network error\n252: WBCI EKP rejected\n400: Porting\
        \ accepted\n450: Waiting for data exchange\n451: Data exchange error\n500:\
        \ Porting complete\n600: Porting cancelled\n</pre>"
      operationId: getNumbers
      parameters:
      - in: query
        name: offset
        schema:
          format: int32
          type: integer
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:read
      summary: List all phone numbers
      tags:
      - numbers
  /numbers/quickdial:
    post:
      operationId: addQuickDialNumber
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddDirectDialRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:write
      summary: Add a new quick dial number
      tags:
      - numbers
      x-codegen-request-body-name: body
  /numbers/quickdial/validation/{quickDialNumber}:
    get:
      operationId: validateQuickDialNumber
      parameters:
      - description: The quick dial number
        example: "42"
        in: path
        name: quickDialNumber
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:read
      summary: Check if quick dial number is already taken
      tags:
      - numbers
  /numbers/quickdial/{numberId}:
    delete:
      operationId: deleteQuickDialNumber
      parameters:
      - description: The unique quick dial number identifier
        example: abc123
        in: path
        name: numberId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:write
      summary: Delete an existing quick dial number
      tags:
      - numbers
    put:
      operationId: changeQuickDialNumber
      parameters:
      - in: path
        name: numberId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeDirectDialRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:write
      summary: Update an existing quick dial number
      tags:
      - numbers
      x-codegen-request-body-name: body
  /numbers/{numberId}:
    put:
      operationId: changeNumberSettings
      parameters:
      - description: The unique phone number identifier
        example: "123"
        in: path
        name: numberId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangeNumberSettingsRequest'
        required: false
      responses:
        "404":
          content: {}
          description: Number not found
      security:
      - oauth2:
        - all
        - numbers:write
      summary: "Change phone number settings, e.g. route to endpoint"
      tags:
      - numbers
      x-codegen-request-body-name: body
  /passwordreset:
    post:
      operationId: requestPasswordReset
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RequestPasswordResetRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      summary: Request a password change
      tags:
      - authorization
      x-codegen-request-body-name: body
  /passwordreset/{nonce}:
    post:
      operationId: changePassword
      parameters:
      - in: path
        name: nonce
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      summary: Change the password
      tags:
      - authorization
      x-codegen-request-body-name: body
  /portings:
    get:
      description: "Possible status codes:<br /><pre>100: Waiting for user fax\n150:\
        \ WBCI waiting for mail opt-in\n160: WBCI opt-in hash generated\n170: WBCI\
        \ opt-in link clicked\n200: Waiting for fax from current network operator\n\
        250: WBCI send\n251: WBCI network error\n252: WBCI EKP rejected\n400: Porting\
        \ accepted\n450: Waiting for data exchange\n451: Data exchange error\n500:\
        \ Porting complete\n600: Porting cancelled\n</pre>"
      operationId: getPortings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortingsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - portings:read
      summary: List all phone number portings
      tags:
      - portings
  /portings/{portingId}:
    delete:
      operationId: revokePorting
      parameters:
      - in: path
        name: portingId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortingsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - portings:write
      summary: Delete/revoke an existing porting
      tags:
      - portings
    get:
      operationId: getPorting
      parameters:
      - in: path
        name: portingId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortingResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - portings:read
      summary: Get an existing porting
      tags:
      - portings
  /sessions/calls:
    post:
      description: DeviceId is only required if the caller parameter is a phone number
        and not a deviceId itself.<br>Use callerId to set a custom number that will
        be displayed to the callee.
      operationId: newCall
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewCallRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateNewCallSessionResponse'
          description: successful operation
        "400":
          content: {}
          description: User supplied invalid callee number<br>User supplied invalid
            caller number<br>DeviceId is required if caller is a phone number
        "402":
          content: {}
          description: Insufficient funds
        "403":
          content: {}
          description: User is not allowed to initiate call with given parameters
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:calls:write
      summary: Initiate a new call
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/fax:
    post:
      operationId: sendFax
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SendFaxRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendFaxSessionResponse'
          description: successful operation
        "402":
          content: {}
          description: Insufficient funds
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:fax:write
      summary: Send a fax
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/fax/resend:
    post:
      operationId: resendFax
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResendFaxRequest'
        required: false
      responses:
        "402":
          content: {}
          description: Insufficient funds
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:fax:write
      summary: Resend a faX
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/ivr/recording:
    post:
      operationId: newIvrRecording
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewIvrRecordingRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateNewCallSessionResponse'
          description: successful operation
        "400":
          content: {}
          description: User supplied invalid callee number<br>User supplied invalid
            caller number<br>DeviceId is required if caller is a phone number
        "402":
          content: {}
          description: Insufficient funds
        "403":
          content: {}
          description: User is not allowed to initiate call with given parameters
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:calls:write
      summary: Initiate a new call to record an ivr message
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/sms:
    post:
      operationId: sendWebSms
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SendWebSmsRequest'
        required: false
      responses:
        "402":
          content: {}
          description: Insufficient funds
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:sms:write
      summary: Send a text message
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/voicemail/play:
    post:
      operationId: playRecording
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PlayRecordingRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateNewCallSessionResponse'
          description: successful operation
        "400":
          content: {}
          description: User supplied invalid callee number<br>User supplied invalid
            caller number<br>DeviceId is required if caller is a phone number
        "402":
          content: {}
          description: Insufficient funds
        "403":
          content: {}
          description: User is not allowed to initiate call with given parameters
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:calls:write
      summary: Initiate a new call to playback a voicemail
      tags:
      - sessions
      x-codegen-request-body-name: body
  /sessions/voicemail/recording:
    post:
      operationId: newRecording
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NewVoicemailRecordingRecordingRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateNewCallSessionResponse'
          description: successful operation
        "400":
          content: {}
          description: User supplied invalid callee number<br>User supplied invalid
            caller number<br>DeviceId is required if caller is a phone number
        "402":
          content: {}
          description: Insufficient funds
        "403":
          content: {}
          description: User is not allowed to initiate call with given parameters
      security:
      - oauth2:
        - all
        - sessions:write
        - sessions:calls:write
      summary: Initiate a new call to record a greeting
      tags:
      - sessions
      x-codegen-request-body-name: body
  /settings/sipgateio:
    get:
      operationId: getSipgateIoUrls
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipgateIoUrlResponse'
          description: successful operation
        "403":
          content: {}
          description: sipgate.io feature not booked
      security:
      - oauth2:
        - all
        - settings:read
        - settings:sipgateio:read
      summary: List sipgate.io global settings
      tags:
      - settings
    put:
      operationId: setSipgateIoUrls
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetSipgateIoAccountSettingsRequest'
        required: false
      responses:
        "403":
          content: {}
          description: sipgate.io feature not booked
      security:
      - oauth2:
        - all
        - settings:write
        - settings:sipgateio:write
      summary: Update sipgate.io global settings
      tags:
      - settings
      x-codegen-request-body-name: body
  /translations/{language}:
    get:
      operationId: getLanguage
      parameters:
      - description: The language
        example: de_DE
        in: path
        name: language
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      summary: List sipgate translations for a specific language
      tags:
      - app
  /users:
    get:
      operationId: getAllUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - users:read
      summary: List all users
      tags:
      - users
  /users/{userId}:
    delete:
      operationId: deleteUser
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: successful operation
        "404":
          content: {}
          description: User not found
      security:
      - oauth2:
        - all
        - users:write
      summary: Delete a specific user
      tags:
      - users
    get:
      operationId: getUser
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: successful operation
        "404":
          content: {}
          description: User not found
      security:
      - oauth2:
        - all
        - users:read
      summary: Get a specific user
      tags:
      - users
  /users/{userId}/busyonbusy:
    put:
      operationId: setBusyOnBusySetting
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetBusyOnBusySettingsRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - users:busyonbusy:write
      summary: Update the busy on busy setting for a user
      tags:
      - users
      x-codegen-request-body-name: body
  /users/{userId}/defaultdevice:
    put:
      operationId: setDefaultDevice
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetDefaultDeviceRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - users:read
        - users:defaultdevice:write
      summary: Update default device for an existing user
      tags:
      - users
      x-codegen-request-body-name: body
  /users/{userId}/location:
    put:
      operationId: setLocation
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetLocationRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - users:write
      summary: Set location for user
      tags:
      - users
      x-codegen-request-body-name: body
  /users/{userId}/role:
    put:
      operationId: setRole
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetUserRoleRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - users:role:write
      summary: Update the user role
      tags:
      - users
      x-codegen-request-body-name: body
  /voicemails:
    get:
      operationId: getVoicemails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicemailsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - voicemails:read
      summary: List all voicemails
      tags:
      - voicemails
  /voicemails/{voicemailId}:
    get:
      operationId: getVoicemail
      parameters:
      - description: The unique voicemail identifier
        example: v0
        in: path
        name: voicemailId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicemailResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - voicemails:read
      summary: Get a single voicemail
      tags:
      - voicemails
  /{userId}/callrestrictions/{restriction}:
    post:
      operationId: setCallRestriction
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The name of the call restriction
        example: roaming
        in: path
        name: restriction
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetCallRestrictionRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRestrictionResponse'
          description: successful operation
        "404":
          content: {}
          description: Call restriction not found
      security:
      - oauth2:
        - all
        - callrestrictions:write
      summary: Enable/disable restriction
      tags:
      - callrestrictions
      x-codegen-request-body-name: body
  /{userId}/devices:
    get:
      operationId: getDevices
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
      summary: List all devices
      tags:
      - devices
    post:
      description: If you want to create a new register device the Restriction CAN_CREATE_REGISTER_DEVICE
        needs to be true for the specified userId.
      operationId: createDevice
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateDeviceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Create a new device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/devices/external:
    post:
      description: If you want to create a new external device the Restriction CAN_CREATE_EXTERNAL_DEVICE
        needs to be true for the specified userId.
      operationId: createExternalDevice
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateExternalDeviceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDeviceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Create a new external device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/devices/mobile:
    post:
      description: If you want to create a new mobile device the Restriction CAN_CREATE_MOBILE_DEVICE
        needs to be true for the specified userId.
      operationId: createMobileDevice
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateMobileDeviceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileDeviceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Create a new mobile device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/devices/register:
    post:
      description: If you want to create a new register device the Restriction CAN_CREATE_REGISTER_DEVICE
        needs to be true for the specified userId.
      operationId: createRegisterDevice
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateRegisterDeviceRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterDeviceResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
      summary: Create a new register device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/devices/{deviceId}/contingents:
    get:
      operationId: getDeviceContingents
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique device identifier
        example: y0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceContingentsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:read
      summary: List all device contingents
      tags:
      - devices
  /{userId}/devices/{deviceId}/sim:
    delete:
      operationId: deactivateSim
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique mobile device identifier
        example: y0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
        - devices:sim:write
      summary: Deactivate the SIM card for a specific device
      tags:
      - devices
    post:
      operationId: activateSim
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique mobile device identifier
        example: y0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ActivateSimRequest'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - devices:write
        - devices:sim:write
      summary: Activate a SIM card for a specific device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/devices/{deviceId}/sim/orders:
    post:
      operationId: orderSim
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique mobile device identifier
        example: y0
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderSimRequest'
        required: false
      responses:
        "403":
          content: {}
          description: User or device not found
      security:
      - oauth2:
        - all
        - devices:write
        - devices:sim:write
        - devices:sims:orders:write
      summary: Order a new SIM card for a specific device
      tags:
      - devices
      x-codegen-request-body-name: body
  /{userId}/faxlines:
    get:
      operationId: getUserFaxlines
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxlinesResponse'
          description: successful operation
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - faxlines:read
      summary: List all fax lines
      tags:
      - faxlines
    post:
      operationId: createFaxline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxlineResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - faxlines:write
      summary: Create a new fax line
      tags:
      - faxlines
  /{userId}/faxlines/{faxlineId}:
    delete:
      operationId: deleteFaxline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - faxlines:write
      summary: Delete an existing fax line
      tags:
      - faxlines
    put:
      operationId: changeFaxlineAlias
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetAliasRequest'
        required: false
      responses:
        "404":
          content: {}
          description: Faxline not found
      security:
      - oauth2:
        - all
        - faxlines:write
      summary: Update alias for an existing fax line
      tags:
      - faxlines
      x-codegen-request-body-name: body
  /{userId}/faxlines/{faxlineId}/callerid:
    get:
      operationId: getFaxlineCallerId
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxlineCallerIdResponse'
          description: successful operation
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - faxlines:read
      summary: Get the caller ID of a specific fax line
      tags:
      - faxlines
    put:
      operationId: changeFaxlineCallerIdSettings
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FaxlineCallerIdRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - faxlines:write
      summary: Update the caller ID for an existing fax line
      tags:
      - faxlines
      x-codegen-request-body-name: body
  /{userId}/faxlines/{faxlineId}/numbers:
    get:
      operationId: getFaxlineNumbers
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointNumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - faxlines:read
        - faxlines:numbers:read
      summary: List all phone numbers routed to fax line
      tags:
      - faxlines
  /{userId}/faxlines/{faxlineId}/tagline:
    put:
      operationId: changeTagline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique fax line identifier
        example: f0
        in: path
        name: faxlineId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FaxlineTaglineRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Feature not booked
      security:
      - oauth2:
        - all
        - faxlines:write
      summary: Update tagline of an existing fax line
      tags:
      - faxlines
      x-codegen-request-body-name: body
  /{userId}/notifications:
    get:
      operationId: getNotifications
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - notifications:read
      summary: Get all notifications
      tags:
      - notifications
  /{userId}/notifications/call/email:
    post:
      operationId: createEmailNotificationForCall
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddCallEmailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Limit reached
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new email notification for calls
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/call/sms:
    post:
      operationId: createSmsNotificationForCall
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddCallSmsNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Limit reached
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new sms notification for calls
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/fax/email:
    post:
      operationId: addFaxEmailNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddFaxEmailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Fax feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new email notification for faxes
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/fax/report:
    post:
      operationId: addFaxReportEmailNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddFaxReportEmailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Fax feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new email notification for fax reports
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/fax/sms:
    post:
      operationId: addFaxSmsNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddFaxSmsNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Fax feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new sms notification for faxes
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/sms/email:
    post:
      operationId: addSmsEmailNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddSmsEmailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: SMSToMail feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new email notification for incoming sms
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/voicemail/email:
    post:
      operationId: addVoicemailEmailNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddVoicemailEmailVoicemailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Voicemail feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new email notification for voicemails
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/voicemail/sms:
    post:
      operationId: addVoicemailSmsNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddVoicemailSmslVoicemailNotificationRequest'
        required: false
      responses:
        "403":
          content: {}
          description: Voicemail feature not booked
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Create a new sms notification for voicemails
      tags:
      - notifications
      x-codegen-request-body-name: body
  /{userId}/notifications/{notificationId}:
    delete:
      operationId: deleteNotification
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique notification identifier
        example: abc123
        in: path
        name: notificationId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - oauth2:
        - all
        - notifications:write
      summary: Delete an existing notification
      tags:
      - notifications
  /{userId}/numbers:
    get:
      description: "Possible portState->status codes:<br /><pre>100: Waiting for user\
        \ fax\n150: WBCI waiting for mail opt-in\n160: WBCI opt-in hash generated\n\
        170: WBCI opt-in link clicked\n200: Waiting for fax from current network operator\n\
        250: WBCI send\n251: WBCI network error\n252: WBCI EKP rejected\n400: Porting\
        \ accepted\n450: Waiting for data exchange\n451: Data exchange error\n500:\
        \ Porting complete\n600: Porting cancelled\n</pre>"
      operationId: getUserNumbers
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumbersResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - numbers:read
      summary: List all user phone numbers of a specific user
      tags:
      - numbers
  /{userId}/phonelines:
    get:
      operationId: getPhonelines
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePhonelinesResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - phonelines:read
      summary: List all phone lines
      tags:
      - phonelines
    post:
      operationId: createPhoneline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePhonelineResponse'
          description: successful operation
      security:
      - oauth2:
        - all
        - phonelines:write
      summary: Create a new phone line
      tags:
      - phonelines
  /{userId}/phonelines/{phonelineId}:
    delete:
      operationId: deletePhoneline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique phone line identifier
        example: p0
        in: path
        name: phonelineId
        required: true
        schema:
          type: string
      responses:
        "404":
          content: {}
          description: Phoneline not found
      security:
      - oauth2:
        - all
        - phonelines:write
      summary: Delete an existing phone line
      tags:
      - phonelines
    get:
      operationId: getPhoneline
      parameters:
      - description: The unique user identifier
        example: w0
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: The unique phone line identifier
        example: p0
        in: path
        name: phonelineId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhonelineResponse'
[...]
